/* style.css */
.nuwe-calendar {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.nuwe-calendar .day {
    fill: #fff;
    stroke: #ccc;
}

.nuwe-calendar .month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}